/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    width: 61px;
    height: 19px;
    margin: 30px 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 68px;
}

.navbar li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar a {
    display: inline-block;
    margin-top: 15px;
}

.navbar a::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: center top;
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
  }
  
.navbar a:hover::before {
    transform: scaleX(1);
  }

.search-bar {
    display: flex;
    justify-content:space-between;
    align-items: stretch;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    width: 377px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .search-icon {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    width: 50px;
  }

  .search-icon i {
    color: black;
    text-align: center;
  }
  
  .search-input {
    border: none;
    padding: 8px;
    font-size: 16px;
  }

  .search-input::placeholder {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: black;
    text-align: center;
  }
  
  .search-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 12px;
    width: 132px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  .filter-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
  }

#filter-bar-titre-desktop {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

#filter-bar-titre-mobile {
    display: none;
}

.filtre {
    display: flex;
    align-items: center;
    gap:10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

.filtre:hover {
    background-color: var(--filter-bg-color);
}

.filtre i {
    font-size: 20px;
}

.filtre span {
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.info-bar i {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

/****** Hebergements ***********/
.hebergements {
    box-sizing: border-box;
    padding: 30px;
    gap: 30px;
    background-color: var(--main-bg-color);
    border-radius: 15px;
}

.hebergements-liste {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 25px;
  }

  .hebergement {
    border-radius: 20px;
    width: 100%;
    height: 207px;
    gap: 4px;
    background-color: white;
  }

  .hebergement img {
    object-fit: cover;
    width: 96%;
    height: 55%;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
  }

  .hebergement-info {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0px 15px 0px 15px;
    gap: 8px;
  }

  .hebergement-nom {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  .hebergement-prix {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .hebergement-prix strong {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }

  .hebergement-note i {
    letter-spacing: -3px;
  }

  .load-more {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
  }

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


.activities {
    padding: 30px;
    gap: 30px;
}

.activities-title {
    margin-bottom: 30px;
}

.activities-cards-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.activities-card {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activities-card img {
    width: 297px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activities-card-name {
    display: flex;
    align-items: center;
    border-radius: 0px 20px;
    padding: 20px 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 15px;
}

.section-footer {
    width: 100%;
    padding: 20px;
}

.footer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.section-footer ul {
    display: inline;
}

.section-footer li {
    list-style: none;
    padding-top: 20px;
}

.section-footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .main-container {
        width: 100%;
        max-width: 1024px;
        box-sizing: border-box;
    }

    #filter-bar-titre-desktop {
        display: none;
    }

    #filter-bar-titre-mobile {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }

    .filtre {
        gap: 10px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        padding: 15px;
        cursor: pointer;
    }

    .filtre span {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        width: 100%;
    }

    .hebergements {
        margin-bottom: 10px;
    }

    .hebergements-liste {
        justify-content: center;
        
    }

    .populaires {
        padding: 30px;
        box-sizing: border-box;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .card {
        width: 100%;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
        line-height: 18px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .activities {
        padding: 30px;
        gap: 30px;
        box-sizing: border-box;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .activities-cards-liste {
        width: 100%;
    }

    .activities-card {
        width: 100%;
        height: 100%;
    }

    .activities-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;

    }

    .activities-card-name {
        padding
    }
    
    .footer-container {
        width: 100%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        max-width: 767px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column
    }

    .infos-search-and-filter {
        padding: 0px 20px;
        margin-top: 50px;
    }

    header {
        display: inline;
        margin: ;
    }
    
    .logo-header {
        margin: auto;
    }
 
    .navbar ul {
        display: flex;
        width: 100%;
        gap: 15px;
    }

    .navbar li {
        width: 50%;
        text-align: center;
    }
    
    .navbar::before {
        content: "";
        background-color: var(--main-bg-color);
        height: 2px;
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0;
    }

    .navbar ul::after {
        content: "";
        width: 50%;
        height: 2px;
        background-color: var(--main-color);
        transform: scaleX(0);
        transform-origin: center top;
        transition: transform 0.3s ease;
        position: absolute;
        top: 75px;
        left: 0;
      }
      
    .navbar ul:hover::after {
        transform: scaleX(1);
      }

    .navbar a::before {
        display: none;
    }

      .info-bar i {

      }

    p, span{
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }

    .search-bar {
        border-radius: 15px;
        width: 100%;
      }
      
      .search-icon {
        background-color: var(--main-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0px 0px 15px;
        width: 50px;
      }
    
      .search-icon i {
        color: black;
        text-align: center;
      }

      .search-button {
        font-size: 0px;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0;
        padding: 15px 16px 15px 16px;
        width: 49px;
      }

    .search-button::before {
        content: "\f002"; /* Code Unicode de l'icône que vous souhaitez afficher */
        font-family: 'Font Awesome 6 Free';
        font-size: 17px;
        font-weight: 900;
    }


    .filter-bar {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
        width: 100%;
        height: 100%;
      }
    
      .filter-header {
        width: 100%;
        text-align: left;
    }

    .filtre {
        flex: 1;
    }

    .filtre i {
        font-size: 20px;
    }

    .filtre span {
        font-weight: bold;
        font-size: 14px;
    }

    .info-bar {
        width: 100%;
        display: flex;
    }

    .info-bar i {
        width: 24px;
        text-align: center;
    }

    .populaires {
        width: 100%;
        order: 0;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .card {
        box-sizing: border-box
    }

    .hebergements {
        width: 100%;
        order: 1;
        background-color: transparent;
        padding: 20px;
    }

    .hebergements-liste {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .hebergement {
        width: 100%;
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
    }

    .load-more {
        margin-top: 20px;
    }

    .activities {
        order: 3;
        width: 100%;
        padding: 30px;
    }

    .activities-cards-liste {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .activities-card {
        width: 315px;
    }
    
    .footer-container {
        width: 100%;
        flex-direction: column;
        margin-top: 40px;
    }
}